:root {
  --primary-font: "Playfair Display", serif;
  --secondary-font: "Poppins", sans-serif;
  --primary-color: #6c63ff;
  --secondary-color: #f9f7fe;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--primary-font);
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 64px;
}

h3 {
  font-size: 48px;
}

p {
  font-size: 16px;
  line-height: 30px;
}

nav {
  padding: 20px 0;
}

nav img {
  max-height: 40px;
}

nav li {
  display: inline;
  line-height: 42px;
  text-decoration: none;
  margin-left: 15px;
}

nav a {
  text-decoration: none;
  color: black;
  transition: all 100ms ease;
}

nav a:hover,
nav li.active a {
  color: var(--primary-color);
}

.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 150px 30px;
}

.hero p {
  font-size: 36px;
  font-weight: 700;
  margin: 0;
}

.hero h2 {
  font-family: var(--secondary-font);
  font-weight: 300;
  font-size: 24px;
  color: #272142;
  line-height: 2;
}

.btn-branding {
  background: var(--primary-color);
  color: white;
  border-radius: 4px;
  padding: 12px 30px;
}

.btn-branding-content {
  color: var(--primary-color);
  border-radius: 4px;
  padding: 12px 30px;
  border: 1px solid var(--primary-color);
}

.project-details {
  padding: 150px 30px;
}

.about-content-container {
  padding: 80px 30px;
}

.about-content {
  padding: 75px 50px;
}

.about-content h1 {
  font-size: 64px;
}

.about-content h2 {
  font-size: 18px;
  font-family: var(--secondary-font);
}

.about-content p {
  line-height: 30px;
}

.about-content img {
  border-radius: 15px;
}

.work-content h1 {
  font-size: 64px;
  padding: 150px 0 70px 0;
}

.work-content h3 {
  font-size: 24px;
  text-align: center;
  font-family: var(--secondary-font);
  padding: 20px 0 0;
}

.work-content p {
  font-size: 14 px;
  text-align: center;
  font-family: var(--secondary-font);
}

.contact-box {
  background: var(--secondary-color) !important;
  padding: 30px 100px 30px 80px;
  border-radius: 10px;
}

footer .email-link {
  text-align: center;
  font-size: 24px;
}

footer .email-link a {
  text-decoration: none;
  color: black;
  transition: all 100ms ease;
}

footer .email-link a:hover {
  color: var(--primary-color);
}

footer .social-links {
  text-align: center;
}

footer .social-links a {
  margin: 0 20px;
  color: var(--primary-color);
  background: var(--secondary-color);
  padding: 10px 13px;
  border-radius: 50%;
  transition: all 100ms ease;
}

footer .social-links a:hover {
  color: white;
  background: var(--primary-color);
}

.footer-description {
  text-align: center;
}

.footer-description a {
  text-decoration: none;
  color: var(--primary-color);
}

@media (max-width: 900px) {
  h1 {
    font-size: 68px;
  }

  h2 {
    font-size: 42px;
  }

  p {
    font-size: 14px;
  }
  .project-details {
    text-align: center;
    padding: 30px;
  }

  .hero {
    padding: 100px 15px;
  }

  .about-me-content {
    text-align: center;
  }

  .about-me h1 {
    font-size: 51px;
  }

  .about-me p {
    margin: 0 0 20px 0;
  }
  .hero h2 {
    font-size: 18px;
  }

  .work-content h1 {
    font-size: 51px;
  }
}
